.hero {
    padding: 100px 0px 50px 0px;
}

.hero h1 {
    font-size: 5rem;
}

.hero p {
    font-size: 1.875rem;
    line-height: 1.1333333333;
    margin-top: 9px;
}

.networks {
    font-size: 1rem;
    font-family: var(--font-space-mono);
}
